.image-container {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%; /* Adjust as needed */
  height: auto;
  cursor: move;
}

.btn-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.zoom-in-btn,
.zoom-out-btn {
  font-size: 16px; /* Adjust as needed */
  border: none;
  color: #737373;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
}
